@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
}

.inicial {
    padding: 0px 4%;
    background-color: rgb(80, 80, 230);
}

.inicial .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inicial-img img {
    width:440px ;
}

.inicial-titulo {
    color: white;
    padding-bottom: 10px;
}

.inicial-sub {
    color: white;
    padding-bottom: 20px;
    font-size: italic;
}

.button {
    color: rgb(80, 80, 230);
    padding: 10px 20px;
    text-decoration: none;
    background: white;
    border-radius: 15px;
}

.button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(255,255,255,0.3);
}

/*PAZ*/

.paz {
    padding: 80px 4%;
    text-align: center;
}

.paz .flex {
    display: flex;
    justify-content: space-between;
    
}

.conteudo {
    border: 2px solid rgba(80, 80, 230, 0.671);
    border-radius: 15px;
    padding: 10px;
    margin: 20px;
}

.conteudo:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(59, 49, 202, 0.3);
}

.paz-img img {
    width: 250px;
    border-radius: 15px;   
}

.paz-titulo {
    margin: 15px;
    color: rgb(80, 80, 230);
}

.paz-sub {
    margin-bottom: 10px;
}

.button-segundo {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    background: rgb(80, 80, 230);
    border-radius: 15px;
}

.button-segundo:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(59, 49, 202, 0.3);
}

